In [138]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

In [139]:
np.random.seed(42)

In [140]:
def generate_dataset(n_observations,n_variable,correlation):
    
    cov_matrix = np.full((n_variable, n_variable), correlation)
    np.fill_diagonal(cov_matrix, 1) 
    
    mean = np.zeros(n_variable)
    dataset = np.random.multivariate_normal(mean, cov_matrix, size=n_observations)
    
    dataset = pd.DataFrame(dataset, columns=[f'variable_{i+1}' for i in range(n_variable)])
    
    return dataset

In [143]:
df = generate_dataset(n_observations=200,n_variable=4,correlation=0.6)

In [144]:
df.head()

   variable_1  variable_2  variable_3  variable_4
0   -1.067674   -0.901579   -0.691579   -0.479266
1    0.194185    0.221709    0.357156    0.681053
2   -1.540638   -1.133248   -0.747244   -0.781435
3   -1.102971   -1.805788   -1.614742   -0.319013
4    0.263841    0.149560   -0.537789   -0.769332

In [145]:
df.corr()

            variable_1  variable_2  variable_3  variable_4
variable_1    1.000000    0.514435    0.554608    0.526585
variable_2    0.514435    1.000000    0.548367    0.533713
variable_3    0.554608    0.548367    1.000000    0.612307
variable_4    0.526585    0.533713    0.612307    1.000000

In [146]:
corr, p_value = pearsonr(df['variable_1'], df['variable_2'])
print(f"correlation: {corr:.2f}, p-value: {p_value:.4f}")

correlation: 0.51, p-value: 0.0000