# Dataset

In [ ]:
import pandas as pd # type:ignore
import numpy as np # type:ignore

In [40]:
data = pd.read_csv('./owid-energy-data.csv')

In [43]:
data['year'].max()

2023

In [44]:
data = data.loc[data['year'] == 2022]

In [45]:
data.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
22,ASEAN (Ember),2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.086,NaN,NaN,NaN,NaN,NaN,13.090,NaN,1.086,NaN
146,Afghanistan,2022,AFG,4.112877e+07,5.330347e+10,NaN,NaN,NaN,NaN,0.000,...,9.639,NaN,NaN,NaN,NaN,0.000,0.000,NaN,0.000,NaN
269,Africa,2022,NaN,1.426737e+09,NaN,-23.594,-0.255,0.578,0.825,1.963,...,2.393,0.797,6.008,3.377,63.455,17.025,24.290,44.476,2.757,1.09
328,Africa (EI),2022,NaN,NaN,NaN,-23.594,-0.255,NaN,0.825,NaN,...,1.970,0.797,6.008,3.377,63.455,NaN,24.339,NaN,2.696,1.09
394,Africa (Ember),2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.415,NaN,NaN,NaN,NaN,NaN,24.290,NaN,2.747,NaN

In [46]:
data.count()

country                   249
year                      249
iso_code                  210
population                223
gdp                       166
                         ...
wind_elec_per_capita      222
wind_electricity          246
wind_energy_per_capita     89
wind_share_elec           245
wind_share_energy          92
Length: 130, dtype: int64

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, 22 to 21810
Columns: 130 entries, country to wind_share_energy
dtypes: float64(127), int64(1), object(2)
memory usage: 254.8+ KB

In [47]:
data.describe()

,year,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
count,249.0,2.230000e+02,1.660000e+02,78.000000,80.00000,69.000000,80.000000,221.000000,232.000000,231.000000,...,245.000000,92.000000,97.000000,102.000000,102.000000,222.000000,246.000000,89.000000,245.000000,92.000000
mean,2022.0,1.448998e+08,1.569316e+12,4.062564,4.76940,350.781435,91.882587,94.758873,20.530905,2.741784,...,3.841882,1.869261,12.856186,37.773343,333.020255,222.754545,77.209939,1176.634685,4.389555,3.332902
std,0.0,7.026622e+08,1.040953e+13,26.166103,11.00602,409.439077,204.260771,241.674893,80.718558,6.561823,...,5.742331,1.687251,42.601064,99.972120,850.313779,528.961683,271.058181,1794.716221,7.841752,4.059336
min,2022.0,1.952000e+03,6.750980e+08,-76.778000,-2.15000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-100.000000,-5.807000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2022.0,1.406768e+06,3.470008e+10,-5.578000,-0.08725,43.832000,1.056250,0.000000,0.000000,0.000000,...,0.197000,0.456250,0.000000,0.000000,0.518250,0.000000,0.000000,44.476000,0.000000,0.337250
50%,2022.0,8.848700e+06,1.021400e+11,5.354500,0.18800,277.759000,4.600500,2.347000,0.045000,0.344000,...,1.824000,1.769500,7.494000,0.578500,13.226500,0.709000,0.055000,372.778000,0.344000,2.324500
75%,2022.0,3.399390e+07,4.878409e+11,10.849000,3.31075,469.891000,30.760500,74.845000,1.510000,2.344500,...,4.974000,2.460250,14.800000,8.732250,86.098000,130.361750,4.788250,1440.764000,6.540000,4.608750
max,2022.0,7.975105e+09,1.301126e+14,144.792000,62.20200,2290.519000,1193.226000,2302.939000,675.770000,51.613000,...,50.000000,8.136000,339.232000,629.809000,5495.744000,3218.151000,2098.520000,8433.512000,54.256000,25.146000